<h1 class = "tList">Welcome Movie</h1>

{{#each movie}}
<div class = "todoMovie">
        <img src = "{{this.image}}" alt = "peli"/>
        <h5>{{this.title}}</h5>
        <a class = "seeMore" href="/movie/{{id}}">See more</a>
</div>

        
{{else}}
    <p class="empty">No content</p>
{{/each}}