

<h2>Detailed Movie</h2>
{{#with movie}}
<div class="detailed">
  <img src="{{image}}">
  <h1 class="tit">{{title}}</h1>
  <p class="des">{{description}}</p>
</div>

{{/with}}




<a  class = "backHome"href="/">Go back to HOME</a>